<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta property="og:title" content="Gachon Univ. Library Search Engine | 가천대학교 도서관 검색"/>
    <meta name="keywords" content="가천대학교">
    <meta property="og:url" content="http://chromato99.com"/>
    <meta property="og:description" content="Gachon University Library Search Engine Project. 가천대학교 도서관 검색 프로젝트"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gachon Univ. Library Search Engine</title>
    <link rel="stylesheet" href="/css/input.css">
    <link rel="stylesheet" href="/css/list.css">
</head>
<body>
    <div id="wrapper">
        <h1><a href="http://test.chromato99.com/">Gachon Univ. Library Search Engine</a></h1>
        
        <form action="/search" method="get">
            <table id="wrapper">
                <tr id="wrapper">
                    <td style="width:93%; height: 45px; padding: 0;">
                    <input type="text" id="item" name="item" autofocus="true" placeholder="Type to search">
                    </td>
                    <td style="padding: 0; height: 45px;">
                    <input type="image" src="/img/searchButton.png" style="height: 35px; border: 2px solid black; border-radius: 7px; vertical-align: middle;" alt="submit">
                    </td>
                </tr>
            </table>
        </form>
        <div id="itemList">
            <ul>
                <!--Create a list of books based on the incoming book information array-->
                <% for(var i=0; i<data.length; i++) { %>
                    <li class = 'source' id = <%= i %> ><a href="/info/<%= data[i].registration_num %>"><%= data[i].book_name %>&nbsp;&nbsp;&nbsp;&nbsp;[<%= data[i].author %> ]</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</html>