body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F2F2F2;
}
#wrapper {
  width: 100%;
  max-width:900px;
  margin: 0 auto;
  padding: 0;
}

h1 {
  text-align:center;
}
form {
  background-color:#007acc;
  padding: 20px 20px;
  color:white;
  text-align:center;
}
#item {
  width:inherit;
  border:none; 
  padding:10px;
  font-size:16px;
}

form::after {
  content:"";
  clear:both;
}